<webobject name = "wrapper">
  <h1>Admin Bereich</h1>
  <webobject name = "inhaltNew">Neuen inhalt erstellen</webobject>
  <ul>
    <webobject name = "inhalte">
      <li>
        <webobject name = "inhaltName" />
        <webobject name = "inhaltPreis" />
        <webobject name = "inhaltEdit">Editieren</webobject>
        <webobject name = "inhaltDelete">L&ouml;schen</webobject>
      </li>
    </webobject>
  </ul>
  <webobject name = "commit">Speichern</webobject>
  <webobject name = "abort">Letzten gespeicherten Zustand herstellen</webobject>
</webobject>