<webobject name="wrapper">
	<label for="Nachname">Nachname</label>
	<webobject name = "Nachname"/>
	<label for="Vorname">Vorname</label>
	<webobject name = "Vorname"/>
	<label for="Strasse">Strasse</label>
	<webobject name = "Strasse"/>
	<label for="PLZ">PLZ</label>
	<webobject name = "PLZ"/>
	<label for="Ort">Ort</label>
	<webobject name = "Ort"/>
	<label for="Telefon">Telefon</label>
	<webobject name = "Telefon"/>
	<label for="Bemerkungen">Bemerkungen</label>
	<webobject name = "Bemerkungen"/>
</webobject>
