<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>untitled</title>
</head>
<body>
	<label for="Nachname">Nachname</label>
	<webobject name = "Nachname"/>
	<label for="Vorname">Vorname</label>
	<webobject name = "Vorname"/>
	<label for="Strasse">Strasse</label>
	<webobject name = "Strasse"/>
	<label for="PLZ">PLZ</label>
	<webobject name = "PLZ"/>
	<label for="Ort">Ort</label>
	<webobject name = "Ort"/>
	<label for="Telefon">Telefon</label>
	<webobject name = "Telefon"/>
	<label for="Bemerkungen">Bemerkungen</label>
	<webobject name = "Bemerkungen"/>
</body>
</html>
