<webobject name = "wrapper">
  <div class = "container-fluid">
    <p>Kontrollieren Sie ihre Angaben</p>
    <webobject name = "userDaten">
      <fieldset disabled>
        <div class = "form-group">
          <label for = "Nachname">Nachname</label>
          <webobject name = "Nachname" />
        </div>
        <div class = "form-group">
          <label for = "Vorname">Vorname</label>
          <webobject name = "Vorname" />
        </div>
        <div class = "form-group">
          <label for = "Strasse">Strasse</label>
          <webobject name = "Strasse" />
        </div>
        <div class = "form-group">
          <label for = "PLZ">PLZ</label>
          <webobject name = "PLZ" />
        </div>
        <div class = "form-group">
          <label for = "Ort">Ort</label>
          <webobject name = "Ort" />
        </div>
        <div class = "form-group">
          <label for = "Telefon">Telefon</label>
          <webobject name = "Telefon" />
        </div>
        <div class = "form-group">
          <label for = "Bemerkungen">Bemerkungen</label>
          <webobject name = "Bemerkungen" />
        </div>
      </fieldset>
      <webobject name = "back">Zur&uuml;ck</webobject>
      <webobject name = "submit" />
    </webobject>
  </div>
</webobject>