<webobject name = "wrapper">
  <h1>Artikel &quot;<webobject name = "artikelBezeichnung" />&quot; Inhalte verwalten</h1>
  <h3>Verfügbar für diesen Artikel</h3>
  <ul>
    <webobject name = "inhalte">
      <li>
        <webobject name = "inhaltName" />
        <webobject name = "inhaltPreis" />
        <webobject name = "removeInhaltFromArtikel">L&ouml;schen</webobject>
      </li>
    </webobject>
  </ul>
  <h3>Nicht verfügbar für diesen Artikel</h3>
  <ul>
    <webobject name = "inhalteNichtInArtikel">
      <li>
        <webobject name = "inhaltName" />
        <webobject name = "inhaltPreis" />
        <webobject name = "addInhaltToArticle">Hinzuf&uuml;gen</webobject>
      </li>
    </webobject>
  </ul>
  <webobject name = "back">Zur&uuml;ck</webobject>
  <webobject name = "commit">Speichern</webobject>
  <webobject name = "abort">Letzten gespeicherten Zustand herstellen</webobject>
</webobject>